{
  "extends": "@socketsecurity",
  "root": true,
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": false }],
    "no-console": "warn"
  }
}
