# Basic ones
.DS_Store
/.eslintcache
/.env
/.tap
/.vscode
/coverage
**/dist
**/node_modules
/*.tsbuildinfo

# We're a library, so please, no lock files
/yarn.lock

# Generated types
*.d.ts
*.d.ts.map

# Library specific ones
!/.vscode/extensions.json
/test/socket-npm-fixtures/**/node_modules/
