# Basic ones
/coverage
/coverage-ts
/node_modules
/.env
/.nyc_output
/.vscode

# We're a library, so please, no lock files
/package-lock.json
/yarn.lock

# Generated types
*.d.cts
*.d.cts.map
*.d.ts
*.d.ts.map

# Library specific ones
!/.vscode/extensions.json
